{% extends "base.html" %}

{% block mytitle %}
My Notes
{% endblock %}

{% block mybutton %}
<a class="btn btn-outline-primary" href="{% url 'dashboard' %}">Home</a>
{% endblock %}


{% block body %}

<div id="main1">

    {% for note in notes %}

    <div id="div3">
        <h2>{{ note.id }}: {{ note.title }} By {{ note.user.first_name }}</h2>
        <hr>
        <center>

            <img src="{{ note.note_img.url }}" style="width: 95%; height:30vh; border-radius: 8px;" alt="">

            <h2>-Description- </h2>
                <p>{{ note.description }}</p>

                <a href="delete_note/{{ note.id }}">Delete Note</a>
                <a href="{% url 'edit_note' note.id %}">Edit Note</a>

        </center>
    </div>

    {% endfor %}

</div>

{% endblock %}