<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>
        Signup Here
    </h1>


    <form method="post">

        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">

        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" placeholder="First Name">

        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <button type="submit">Signup</button>

    </form>

</body>

</html>